.AlphaButtons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 400px;
}

.AlphaButtons--button {
  transition: all 0.3s ease-out;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, rgba(63,94,251,0.6211659663865546) 0%, rgba(70,171,252,0.7679446778711485) 100%);
  border: 1px solid rgba(63, 94,251, 0.8);
  border-radius: 10px;
  margin: 5px;
  font-size: 24px;
  box-shadow: 2px 2px 5px rgba(33,33,33,0.2);
  color: #ffffff;
  outline: none;
  cursor: pointer;
}

.AlphaButtons--button:disabled {
  background: radial-gradient(circle, rgba(160,160,161,0.8211659663865546) 0%, rgba(201,208,213,0.7679446778711485) 100%);
  color: #C4C4C4;
  border: none;
  cursor: default;
}
