.Gameboard {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Gameboard--single-tile {
  font-size: 70px;
  margin: 0 10px;
  width: 70px;
}

.Gameboard--text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Gameboard--title {
  font-size: 50px;
}
